body {
    margin: 0;
}

#form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 90px 180px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    width: 240px;
    height: 290px;
    row-gap: 10px;
}


#id-1 {
    grid-template-areas: 1/1/1/1;
    align-items: center;
    justify-content: center;
    display: flex;
}

#id-2 {
    grid-template-areas: 2/1/2/1;
}

#id-3 {
    grid-template-areas: 2/1/2/1;
    align-items: center;
    justify-content: center;
    display: flex;
}

#id-4 {
    grid-template-areas: 2/2/1/1;
}

#id-5 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    display: flex;
}

#id-6 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 3;
}
#id-7 {
    grid-column-start: 2;
    grid-row-start: 6;
    grid-column-end: 2;
    grid-row-end: 6;
    align-items: center;
    justify-content: center;
    display: flex;
}  

#id-8 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 1;
    grid-row-end: 4;
}

#id-9 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 4;
}   

#id-10 {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-column-end: 1;
    grid-row-end: 5;
    align-items: center;
    justify-content: center;
    display: flex;
}   

#id-11 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-column-end: 2;
    grid-row-end: 5;
}   





